spring:
  application:
    name: share-schedule
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: "jdbc:mysql://localhost:3306/schedule?autoReconnect=true&useUnicode=true&serverTimezone=Asia/Seoul"
    username: test
    password: test1234
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        storage_engine: innodb
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show_sql: true
  logging.level:
    org.hibernate.SQL: debug